@import '../../styles/variables';

@media (max-width: 640px) {
  .landing {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .landing-text {
      padding-top: 0;

      h1,
      h2 {
        display: none;
      }
    }
  }
}
