@import './variables';
@import './mixins';

.logo {
  font-family: $ff-logo;
  color: $clr-logo;
  font-size: $fs-logo;

  &.login {
    &:hover {
      cursor: default;
    }
  }
}

.header__logo {
  top: 3rem;
  left: 4rem;
}

.button {
  border-radius: 5px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  color: $clr-button-text;
  font-size: $fs-button-text;
  border: 0;
  &:focus {
    outline: 0;
  }
  &:hover {
    opacity: 0.6;
  }
  &::selection {
    background-color: transparent;
  }
}

.input {
  @include input;
}

.input-summary-title {
  @include input($fs-summary-title);
}

.input-income {
  @include input($fs-number);
}

.input-entry {
  @include input($fs-entry);
}

.empty-number-field {
  visibility: hidden;
  &::after {
    visibility: visible;
    content: '$0.00';
  }
}

.login-box {
  max-width: 300px;
  border: 1px solid $clr-login-button;
  background-color: $clr-login-box;

  .submit {
    border: 0;
    background-color: $clr-login-button;
    &:active {
      background-color: $clr-login-button-active;
    }
  }
}
