@import './variables';

nav button:hover:not(.selected, .ff-logo) {
  opacity: 0.5;
}

.message {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.message-enter {
  transform: translate(-50%, 100%);
}
.message-enter-active {
  transform: translate(-50%, 0);
  transition: transform 0.1s linear;
}
.message-exit {
  transform: translate(-50%, 0);
}
.message-exit-active {
  transform: translate(-50%, 100%);
  transition: transform 0.5s linear;
}
