@import './variables';

// Colors.
.clr-light {
  color: $clr-light;
}
.clr-light-accent {
  color: $clr-light-accent;
}
.clr-dark {
  color: $clr-dark;
}
.clr-dark-accent {
  color: $clr-dark-accent;
}
.clr-accent-dark {
  color: $clr-accent-dark;
}
.clr-red {
  color: $clr-red;
}
.clr-accent-light {
  color: $clr-accent-light;
}

// Font sizes.
.fs-title {
  font-size: $fs-title;
}
.fs-heading {
  font-size: $fs-heading;
}
.fs-subtitle {
  font-size: $fs-subtitle;
}
.fs-subheading {
  font-size: $fs-subheading;
}
.fs-body {
  font-size: $fs-body;
}

// Font families.
.ff-primary {
  font-family: $ff-primary;
}
.ff-logo {
  font-family: $ff-logo;
}
.ff-mono {
  font-family: $ff-mono;
}

// Background colors.
.bg--light {
  background-color: $clr-light;
}
.bg--light-accent {
  background-color: $clr-light-accent;
}
.bg--dark {
  background-color: $clr-dark;
}
.bg--dark-accent {
  background-color: $clr-dark-accent;
}
.bg--green {
  background-color: $clr-green;
}
.bg--accent-dark {
  background-color: $clr-accent-dark;
}
.bg--accent-light {
  background-color: $clr-accent-light;
}
.bg--dark-red {
  background-color: $clr-dark-red;
}
.bg--window-box {
  background-color: $clr-window-box;
}
.bg--login-box {
  background-color: $clr-login-box;
}
.bg--semi-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

// Scrollbars.
.bg--scrollbar-app {
  background-color: $clr-scrollbar-app;
}
.bg--scrollbar-window-box {
  background-color: $clr-scrollbar-window-box;
}

// Borders.
.border-clr-dark {
  border-color: $clr-dark;
}
.border-clr-light-accent {
  border-color: $clr-light-accent;
}

// Hovers.
.hover-opacity:hover {
  opacity: 0.5;
}
.hover-opacity-75:hover {
  opacity: 0.75;
}

// Placeholders.
.placeholder-dark-accent::placeholder {
  color: $clr-dark-accent;
}
.placeholder-light-accent::placeholder {
  color: $clr-light-accent;
}

.input {
  color: $clr-dark;
  font-size: $fs-body;
  background-color: $clr-light;
  border: 1px solid $clr-dark-accent;

  &:focus,
  &:focus-visible {
    border: 1px solid $clr-dark;
  }

  &.dark {
    color: $clr-light;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;

    &:focus,
    &:focus-visible {
      border: 1px solid $clr-light-accent;
    }
  }

  &:focus {
    outline: 0;
  }

  &.input-indicator {
    border: none;

    &.empty {
      border-bottom: 4px solid $clr-red;
      margin-bottom: calc(0.5rem - 4px);
    }

    &:focus,
    &:focus-visible {
      border: none;
      border-bottom: 4px solid $clr-accent-light;
      margin-bottom: calc(0.5rem - 4px);

      &.valid {
        border-bottom: 4px solid $clr-light-green;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

.floating-label {
  color: $clr-dark-accent;
  font-size: $fs-body;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);

  &.dark {
    color: $clr-light-accent;
  }

  transition: 0.1s all;

  input:focus + &,
  input:not(:focus):valid + & {
    font-size: 1.2rem;
    top: 30%;

    &.small {
      font-size: 1rem;
      top: 25%;
    }
  }
}

button:focus-visible,
[type='button']:focus-visible,
[type='reset']:focus-visible,
[type='submit']:focus-visible,
*:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

.pointer-events-none {
  pointer-events: none;
}

.user-select-none {
  user-select: none;
}

.default {
  &:hover {
    cursor: default;
  }
}

.selection-transparent {
  &::selection {
    background-color: transparent;
  }
}

.anchor {
  &:hover {
    color: $clr-accent-light;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

.arrow-left::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent $clr-accent-dark transparent transparent;
}

.arrow-right::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent $clr-accent-dark;
}

.visibility-hidden {
  visibility: hidden;
}
