@import './variables';
@import './mixins';

// Text.
.title {
  font-family: $ff-title;
  color: $clr-title;
  font-size: $fs-title;
}

.subtitle {
  color: $clr-subtitle;
  font-size: $fs-subtitle;
}

.login-button-text {
  color: $clr-login-button-text;
  font-size: $fs-login-button-text;
}

.continue-as-guest {
  color: $clr-continue-as-guest;
  font-size: $fs-continue-as-guest;
}

.window-title {
  color: $clr-window-title;
  font-size: $fs-window-title;
}

.window-body {
  color: $clr-window-body;
  font-size: $fs-window-body;
}

.overview-box-title {
  color: $clr-overview-box-title;
  font-size: $fs-overview-box-title;
}

.entries-box-title {
  color: $clr-entries-box-title;
  font-size: $fs-entries-box-title;
}

.number {
  font-family: $ff-number;
  color: $clr-number;
  font-size: $fs-number;
  text-shadow: 4px 2px 2px #302e2e;
}

.number-label {
  font-family: $ff-number-label;
  color: $clr-number-label;
  font-size: $fs-number-label;
  text-shadow: 2px 1px 1px #302e2e;
}

.entry-title {
  color: $clr-entry-title;
  font-size: $fs-entry-title;
}

.entry {
  color: $clr-entry;
  font-size: $fs-entry;
}

.message {
  font-family: $ff-message;
  color: $clr-blue;
  font-size: $fs-message;
}

.message-invalid {
  font-family: $ff-message;
  color: white;
  font-size: $fs-message;
}

// Colors.
.clr-blue {
  color: $clr-blue;
}

.clr-red {
  color: $clr-red;
}

.bg--green {
  background-color: $clr-green;
}

.bg--blue {
  background-color: $clr-blue;
}

.bg--dark-red {
  background-color: $clr-dark-red;
}

// Components.
.logo {
  font-family: $ff-logo;
  color: $clr-logo;
  font-size: $fs-logo;
  &::selection {
    background-color: transparent;
  }
  &:hover {
    cursor: default;
  }
  &.header__logo:hover {
    cursor: pointer;
  }
}

.bg--gradient {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button {
  border-radius: 5px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  color: $clr-button-text;
  font-size: $fs-button-text;
  border: 0;
  // transition: opacity 0.1s ease;
  &:focus {
    outline: 0;
  }
  &:hover {
    opacity: 0.6;
  }
  &::selection {
    background-color: transparent;
  }
}

.input {
  @include input;
}

.edit::after {
  content: url('../images/pencil.svg');
  margin-left: 0.75rem;
}
