@import './variables';
@import './mixins';

// Text.
.title {
  @include text($clr-title, $fs-title, $ff-title);
}

.subtitle {
  @include text($clr-subtitle, $fs-subtitle);
}

.login-button-text {
  @include text($clr-login-button-text, $fs-login-button-text);
}

.continue-as-guest {
  @include text($clr-continue-as-guest, $fs-continue-as-guest);
}

.window-title {
  @include text($clr-window-title, $fs-window-title);
}

.window-body {
  @include text($clr-window-body, $fs-window-body, $ff-window-body);
}

.overview-title {
  @include text($clr-overview-title, $fs-overview-title);
}

.entries-title {
  @include text($clr-entries-title, $fs-entries-title);
}

.number {
  @include text($clr-number, $fs-number, $ff-number);
  text-shadow: $text-shadow;
}

.number-label {
  @include text($clr-number-label, $fs-number-label, $ff-number-label);
  text-shadow: $text-shadow;
}

.entry-title {
  @include text($clr-entry-title, $fs-entry-title);
}

.entry {
  @include text($clr-entry, $fs-entry);
}

.budget-name {
  @include text($clr-window-body, $fs-overview-title, $ff-window-body);
}

.message {
  @include text($clr-accent-light, $fs-message, $ff-message);
}

.text-shadow {
  text-shadow: $text-shadow;
}

// Colors.
.clr-accent-dark {
  color: $clr-accent-dark;
}

.clr-red {
  color: $clr-red;
}

.clr-accent-light {
  color: $clr-accent-light;
}

.bg--green {
  background-color: $clr-green;
}

.bg--accent-dark {
  background-color: $clr-accent-dark;
}

.bg--accent-light {
  background-color: $clr-accent-light;
}

.bg--dark-red {
  background-color: $clr-dark-red;
}

.bg--window-box {
  background-color: $clr-window-box;
}

// Components.
.logo {
  font-family: $ff-logo;
  color: $clr-logo;
  font-size: $fs-logo;
  &::selection {
    background-color: transparent;
  }
  &.login {
    &:hover {
      cursor: default;
    }
  }
}

.button {
  border-radius: 5px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  color: $clr-button-text;
  font-size: $fs-button-text;
  border: 0;
  &:focus {
    outline: 0;
  }
  &:hover {
    opacity: 0.6;
  }
  &::selection {
    background-color: transparent;
  }
}

.input {
  @include input;
}

.input-overview-title {
  @include input($fs-overview-title);
}

.input-income {
  @include input($fs-number);
}

.input-entry {
  @include input($fs-entry);
}

.anchor {
  color: $clr-accent-light;
  &:hover {
    color: $clr-accent-dark;
  }
}

.empty-number-field {
  visibility: hidden;
  &::after {
    visibility: visible;
    content: '$0.00';
  }
}

.default {
  &:hover {
    cursor: default;
  }
  &::selection {
    background-color: transparent;
  }
}
