@import '../../src/../src/styles/variables';

@mixin text($color: $clr-body, $font-size: 1rem, $font-family: $ff-body) {
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
}

@mixin input($font-size: $fs-input) {
  color: $clr-input;
  font-size: $font-size;
  background-color: $clr-input-box;
  border: 1px solid $clr-placeholder;
  outline: 0;
  &:focus {
    border-color: $clr-input;
  }
  &::placeholder {
    @if $font-size != $fs-input {
      font-size: 0.8em;
    }
    color: $clr-placeholder;
  }
}
