// Colors.
$clr-light: rgb(255, 255, 255);
$clr-light-accent: rgb(200, 200, 200);
$clr-dark: rgb(34, 34, 34);
$clr-dark-accent: rgb(113, 113, 113);
$clr-accent-dark: #3679b8;
$clr-accent-light: #84d2f6;
$clr-green: #0c8126;
$clr-red: #ff4040;
$clr-dark-red: rgb(135, 0, 0);

// Font sizes.
$fs-title: 6.4rem;
$fs-heading: 4.8rem;
$fs-subtitle: 3.2rem;
$fs-subheading: 2.4rem;
$fs-body: 1.6rem;

// Font families.
$ff-primary: 'Open Sans', sans-serif;
$ff-logo: 'Lobster', cursive;
$ff-mono: 'Roboto Mono', monospace;

// Sign in box.
$clr-login-box-bottom: rgba(5, 105, 130, 0.9);
$clr-login-box-top: rgba(5, 105, 130, 0.9);
$clr-login-box-legacy-support: rgb(5, 105, 130);

// Window box.
$clr-window-box-bottom: rgba(22, 71, 102, 0.9);
$clr-window-box-top: rgba(19, 60, 85, 0.95);
$clr-window-box-legacy-support: rgb(22, 71, 102);

// Scrollbars.
$clr-scrollbar-app: $clr-light;
$clr-scrollbar-app-dark: $clr-dark;
$clr-scrollbar-window-box: $clr-accent-light;
