// Colors.
$clr-light: rgb(255, 255, 255);
$clr-light-accent: rgb(200, 200, 200);
$clr-dark: rgb(34, 34, 34);
$clr-dark-accent: rgb(113, 113, 113);
$clr-accent-dark: #185d9e;
$clr-accent-light: #84d2f6;
$clr-green: #0a7321;
$clr-light-green: rgb(56, 218, 56);
$clr-red: #ff4040;
$clr-dark-red: #730505;

// Font sizes.
$fs-body: 1.6rem;
$fs-subheading: 2.4rem;
$fs-subtitle: 3.2rem;
$fs-heading: 4.8rem;
$fs-title: 6.4rem;

// Font families.
$ff-primary: 'Open Sans', sans-serif;
$ff-logo: 'Lobster', cursive;
$ff-mono: 'Roboto Mono', monospace;

// Sign in box.
$clr-login-box: rgba(1, 70, 91, 0.9);

// Window box.
$clr-window-box: rgba(3, 31, 56, 0.9);
