@import './variables';

.login-box {
  max-width: 300px;
  border: 1px solid $clr-login-button;
  background-color: $clr-login-box;

  .submit {
    border: 0;
    background-color: $clr-login-button;
    &:active {
      background-color: $clr-login-button-active;
    }
  }
}
