@import '../../base/variables';

.btn--create-new-budget {
  font-family: 'Roboto Mono', monospace;
  background-color: $clr-green;
  border: 0;
  padding: 2px 12px;
}

.btn--edit-budget {
  font-family: 'Roboto Mono', monospace;
  background-color: $clr-blue;
  border: 0;
  padding: 2px 12px;
}
