@import '../../styles/variables';
@import '~bootstrap/scss/bootstrap';

// Functional classes.
@import '../../styles/functional';

.App {
  font-family: 'Open Sans', sans-serif;
  color: $clr-body;
  min-height: 100vh;
  &.dark {
    .logo.header__logo {
      color: $clr-logo-dark;
    }
    .title {
      color: $clr-title-dark;
    }
    .subtitle {
      color: $clr-subtitle-dark;
    }
    .navi__item {
      color: $clr-nav-item-dark;
    }
  }
}

// Single line syntax: background: no-repeat center url('../../images/bg2.jpg') fixed;
// Does not include background-size.
.background {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 116, 145, 0.9);
}

// Media queries.

@media only screen and (max-width: 1100px) {
  // Responsive nav and header.
  .navi {
    padding-top: 10rem;
  }
  .header__logo {
    left: 50%;
    transform: translateX(-50%);
  }

  // Responsive create page.
  .Create {
    flex-wrap: wrap;
    & > .window-box {
      margin-bottom: 5rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navi {
    align-items: center;
    flex-direction: column;
  }
  .navi__item {
    font-size: $fs-nav-item-mobile;

    margin: 0.5rem 0;
  }

  //Responsive entry category input and button.
  .add-entry {
    & > input {
      min-width: 250px;
      margin-bottom: 1rem;
    }
    align-items: center;
    flex-direction: column;
  }

  // Responsive create page.
  .Create {
    & > .window-box {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
