@import '../../base/variables';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

// Reset.
@import '../../base/reset.scss';

// Functional classes.
@import '../../base/functional.scss';

// Single line syntax: background: no-repeat center url('../../images/bg2.jpg') fixed;
// Does not include background-size.
.background {
  // background-image: url('../../images/bg1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(0, 116, 145, 0.9);
}

.logo {
  justify-self: self-start;
  font-family: $ff-logo;
  font-size: $fs-logo;
  color: $clr-logo;
  &:hover {
    cursor: default;
  }
  &::selection {
    background-color: transparent;
  }
}

.window-box {
  max-height: 80vh;
  overflow-y: auto;
  width: fit-content;
  margin: 0 auto;
  padding: 2rem;
  background-color: $clr-window-box;
  border-radius: 5px;
}
.App {
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
  color: $clr-body;
  min-height: 100vh;
  &.dark {
    .logo {
      color: $clr-logo-dark;
      &.login {
        color: $clr-logo;
      }
    }
    .title {
      color: $clr-title-dark;
    }
    .subtitle {
      color: $clr-subtitle-dark;
    }
  }
}

// Media quieries.

// Responsive nav and header.
@media only screen and (max-width: 1100px) {
  .navi {
    padding-top: 10rem;
  }
  .header__logo {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 600px) {
  .navi {
    align-items: center;
    flex-direction: column;
  }
  .navi__item {
    font-size: $fs-nav-item-mobile;
    margin: 0.5rem 0;
  }
}
