@import '../../styles/variables';

.navi__item {
  margin: 0 1.5rem;
  font-family: $ff-nav-item;
  color: $clr-nav-item;
  font-size: $fs-nav-item;
  &::selection {
    background: transparent;
  }
}
