// Change body color back to white (remove unused variables afterwards)

// Dark mode.
$clr-logo-dark: black;
$clr-title-dark: black;
$clr-subtitle-dark: rgba(0, 0, 0, 0.85);
$clr-nav-item-dark: black;

// Default text.
$clr-body: red;

// Logo.
$ff-logo: 'Lobster', cursive;
$clr-logo: white;
$fs-logo: 5rem;

// Title.
$ff-title: 'Roboto', sans-serif;
$clr-title: white;
$fs-title: 4.2rem;

// Subtitle:
$clr-subtitle: rgba(255, 255, 255, 0.85);
$fs-subtitle: 2.2rem;

// Colors
$clr-blue: rgba(32, 167, 242, 1);
$clr-green: rgba(31, 178, 37, 1);
$clr-dark-green: rgba(13, 119, 17, 1); //For positive numbers
$clr-magenta: rgba(159, 57, 194, 1);
$clr-orange: rgba(180, 117, 23, 1);
$clr-red: rgba(155, 0, 0, 1); //For negative numbers.

// Default input box.
$clr-input-box: rgba(250, 250, 250, 0.8);

// Default placeholder.
$clr-placeholder: rgba(125, 125, 125, 1);
$fs-placeholder: 1.8rem;

// Login box.
$clr-login-box: rgba(0, 116, 145, 0.9);
$clr-login-button: rgba(0, 0, 0, 0.5);
$clr-login-button-active: rgba(0, 0, 0, 0.4);
$clr-login-button-text: white;
$fs-login-button-text: 2.2rem;
$clr-continue-as-guest: rgba(255, 255, 255, 0.7);
$fs-continue-as-guest: 1.5rem;

// Default window.
$clr-window-box: rgba(58, 67, 72, 0.9);
$clr-window-title: white;
$fs-window-title: 2.6rem;
$clr-window-body: white;
$fs-window-body: 2.2rem;

// Default button.
$clr-button-text: white;
$fs-button-text: 1.8rem;

// Nav.
$ff-nav-item: 'Roboto Mono', monospace;
$clr-nav-item: white;
$fs-nav-item: 2.4rem;
$fs-nav-item-mobile: 2.5rem;

// Create component.
$clr-number: white;
$fs-number: 3.5rem;
$clr-number-label: white;
$fs-number-label: 2rem;
$fs-entry-title: 2.5rem;
$fs-entry: 2rem;
