@import './variables';

.title {
  font-family: $ff-title;
  font-size: $fs-title;
  color: $clr-title;
}

.subtitle {
  font-size: $fs-subtitle;
  color: $clr-subtitle;
}

.login-button-text {
  font-size: $fs-subtitle;
  color: $clr-login-button-text;
}

.continue-as-guest {
  font-size: $fs-continue-as-guest;
  color: $clr-continue-as-guest;
}

.window-title {
  font-size: $fs-window-title;
  color: $clr-window-title;
}

.window-body {
  font-size: $fs-window-body;
  color: $clr-window-body;
}

.placeholder {
  background-color: $clr-input-box;
  font-size: $fs-placeholder;
  color: $clr-placeholder;
}

.button-text {
  font-size: $fs-button-text;
  color: $clr-button-text;
}

// Colors
.clr-blue {
  color: $clr-blue;
}

.btn--bg-green {
  background-color: $clr-green;
}

.btn--bg-blue {
  background-color: $clr-blue;
}
