@import './variables';

.title {
  font-family: $ff-title;
  color: $clr-title;
  font-size: $fs-title;
}

.subtitle {
  color: $clr-subtitle;
  font-size: $fs-subtitle;
}

.login-button-text {
  color: $clr-login-button-text;
  font-size: $fs-login-button-text;
}

.continue-as-guest {
  color: $clr-continue-as-guest;
  font-size: $fs-continue-as-guest;
}

.window-title {
  color: $clr-window-title;
  font-size: $fs-window-title;
}

.window-body {
  color: $clr-window-body;
  font-size: $fs-window-body;
}

.placeholder {
  background-color: $clr-input-box;
  color: $clr-placeholder;
  font-size: $fs-placeholder;
}

.number {
  color: $clr-number;
  font-size: $fs-number;
  text-shadow: 4px 2px 2px #302e2e;
}

.number-label {
  color: $clr-number-label;
  font-size: $fs-number-label;
}

// Colors
.clr-blue {
  color: $clr-blue;
}

.clr-green {
  color: $clr-green;
}

.btn--bg-green {
  background-color: $clr-green;
}

.btn--bg-blue {
  background-color: $clr-blue;
}
