@import './variables';

.ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.button {
  border-radius: 5px;
  font-weight: 300;
  font-family: 'Roboto Mono', monospace;
  color: $clr-button-text;
  font-size: $fs-button-text;
  border: 0;
  // transition: opacity 0.1s ease;
  &:focus {
    outline: 0;
  }
  &:hover {
    opacity: 0.6;
  }
}

*::placeholder {
  color: $clr-placeholder;
  font-size: $fs-placeholder;
}

input[type='text'] {
  color: black;
  border: 1px solid $clr-placeholder;
  outline: 0;
  &:focus {
    border-color: black;
  }
}
input[type='submit'] {
  outline: 0;
}
